---
layout: main
title: Data test
---

<h2>Cats</h2>
{{cats.name[0]}}
<ul>
{% for cat in cats limit:5 %}
<li>{{ cat.name }}</li>
{% endfor %}
</ul>

<p>
	<a href="/cats">All cats...</a>
</p>

<h2>Films</h2>

<ul>
{% for film in films %}
<li><a href="/films/{{film.title | slug }}/">{{ film.title }}</a></li>
{% endfor %}
</ul>
